# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     marathon
    database_user:     marathon
    database_password: marathon
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    jwt_private_key_path: '%kernel.root_dir%/var/jwt/private.pem' # ssh private key path
    jwt_public_key_path:  '%kernel.root_dir%/var/jwt/public.pem'  # ssh public key path
    jwt_key_pass_phrase:  'marathon'                              # ssh key pass phrase
    jwt_token_ttl:        3600

    ldap_host: mimir.norse.digital
    ldap_port: 389
    ldap_encryption: none
    ldap_options_protocol_version: 2
    ldap_options_referrals: null
    ldap_base_dn: 'dc=nxc,dc=no'

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    secret_password: ~
